/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  padding: 10px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
  align-items: center;
}

.align-top {
  align-items: flex-start;
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}
